footer {
  text-align: center;
  background-color: #a0a0a0;
  padding: 15px;
  margin-top: 80px;
  box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

footer p {
  font-size: 15px;
  color: var(--color-primario);
}