@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-form {
    width: 80%;
  }

  .nav-links {
    justify-content: center;
    gap: 15px;
  }
}



@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .hero-text h1 {
    font-size: 10px;
  }

  .hero-form {
    width: 95%;
  }

  .btn {
    width: 100%;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }
}