@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Momo+Trust+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sixtyfour&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import url(navegacion.css);
@import url(seccion.css);
@import url(texto.css);
@import url(botones.css);
@import url(formulario.css);
@import url(footer.css);
@import url(responsivo.css);

:root {
  --color-primario: #40ff00;
  --color-secundario: #026d20;
  --color-terciario: #a0a0a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epunda Slab", serif;
}

body {
  background-color: #cdf6e2;
  color: var(--color-terciario);
  background-image: url('gimnasio.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

